@font-face {
  font-family: "BauhausC";
  src: url("../../fonts/bauhouse/BauhausC_Medium_Bold.ttf") format("woff2");
}

@font-face {
  font-family: "BauhausC-thin";
  src: url("../../fonts/bauhouse/BauhausC_Light.ttf") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("woff2");
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.wrapper_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-blend-mode: multiply;
  background: rgb(61, 85, 117) url("./img/registration-background.png");
  background-position: center;
  background-size: cover;
}

.wrapper_phone {
  min-width: 250px;
  height: 599px;
  margin: 0 110px 39px;
  background: url("./img/iphone.png") no-repeat center;
  background-size: contain;
}

.wrapper_left__title {
  color: #ffffff;
  font-family: "BauhausC";
  font-size: 24px;
  font-weight: 500;
}

.wrapper_right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 48em;
}

.wrapper_registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 58px;
  width: 550px;
  max-height: 600px;
  box-shadow: 10px 17px 40px rgba(112, 124, 130, 0.3);
  background-color: #ffffff;
}

.logoWrapper {
  display: flex;
  margin-bottom: 34px;
}

.logo {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/logo.svg");
  margin-right: 14px;
}

.title {
  color: #2c2c2c;
  font-family: "BauhausC";
  font-size: 24px;
  font-weight: lighter;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 12px;
  width: 100%;
}

.formGroupConfirm {
  composes: formGroup;
  margin-bottom: 2px;
}

.formGroup input {
  padding: 16px;
  width: 100%;
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  border: none;
  border-radius: 6px;
  background-color: rgb(249, 251, 251);
  height: 48px;
}

.confirmPasswordBar {
  background-color: rgb(252, 132, 44);
  opacity: 0.2;
  width: 100%;
  height: 6px;
}

.confirmed {
  background-color: rgb(55, 190, 62);
  opacity: 0.8;
  width: 100%;
  height: 6px;
}

.button {
  width: 281px;
  height: 39px;
  color: #ffffff;
  font-family: "HelveticaNeueCyr";
  font-size: 15px;
  font-weight: 700;
  box-shadow: 2px 3px 3px rgba(225, 131, 55, 0.25);
  background-color: #e18337;
  border: none;
  border-radius: 5px;
  margin-bottom: 33px;
  cursor: pointer;
}

.login a {
  cursor: pointer;
  font-size: 12px;
  font-family: "HelveticaNeueCyr";
  color: rgb(107, 125, 131);
  text-decoration: underline;
  line-height: 2.5;
}

.login a:visited {
  color: rgb(107, 125, 131);
}

.social_box {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 10px;
}

.social_title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(107, 125, 131);
  font-family: "HelveticaNeueCyr";
}

.google_box {
  margin: auto;
  background-image: url("../../icons/social_icon/google.svg");
  width: 42px;
  height: 42px;
  margin-right: 25px;
}

.fb_box {
  margin: auto;
  background-image: url("../../icons/social_icon/fb.svg");
  width: 40px;
  height: 40px;
}

.fb_box:hover,
.google_box:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1060px) {

  .wrapper_right {
    background-image: url(./img/registration-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  .wrapper_left__title {
    color: ffffff;
    font-family: "BauhausC";
    font-size: 24px;
    font-weight: 500;
  }

}

@media screen and (max-width: 767px) {
  .wrapper_registration {
    width: 100%;
    padding: 50px 22px 0;
    box-shadow: none;
  }

  .wrapper_right {
    background: none;
  }

  .logoWrapper {
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    margin-bottom: 34px;

  }

  .logo {
    margin: 0 0 25px;
  }

  .wrapper_left__title {
    display: none;
  }

  .social_box {
    padding-bottom: 25px;
  }
}



.error {
  font-family: "HelveticaNeueCyr";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ff2c0c;
}