.tableTransactionItem {
  height: 315px;
  margin-bottom: 15px;
  box-shadow: 14.095px 5.13px 9px 0px rgba(1, 1, 0, 0.08);
}

.cell {
  padding-left: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell p {
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #282828;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}

.cellTitle {
  width: 130px;
  display: none;
}

.cellData {
  color: #2c353e;
}

.editCom {
  line-height: 1px;
  position: relative;
}

.editCom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 11px;
  height: 11px;
  margin: auto;
  background-image: url("../../icons/edit_icon.svg");
}

.editSum {
  line-height: 1px;
  position: relative;
}

.editSum::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 11px;
  height: 11px;
  margin: auto;
  background-image: url("../../icons/edit_icon.svg");
}

.editCom:hover,
.editSum:hover {
  cursor: pointer;
}

.editCom:hover::before,
.editSum:hover::before {
  opacity: 0.4;
  transform: scale(1.3);
}

.cellDataFieldComment,
.cellDataFieldSum {
  padding: 5px;
  border: 1px solid #2c353e;
  border-radius: 5px;
  background-color: transparent;
}
.cellDataFieldComment {
  width: 110px;
}

.cellDataFieldComment:focus,
.cellDataFieldSum:focus {
  outline: none;
}

.cellDataFieldSum::-webkit-outer-spin-button,
.cellDataFieldSum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cellDataFieldSum {
  width: 70px;
}

.date {
  color: #282828;
}

.plus .sum {
  color: #3a5374;
  font-weight: 700;
}

.minus .sum {
  color: #ff6c00;
  font-weight: 700;
}

.delete {
  display: flex;
  align-items: center;
}

.deleteIconSmall {
  display: none;
}

@media screen and (max-width: 767px) {
  .tableTransactionItem {
    position: relative;
  }

  .tableTransactionItem::before {
    display: block;
    position: absolute;
    content: "";
    width: 8px;
    height: 315px;
    left: 0;
  }

  .cell {
    height: 45px;
  }

  .delete {
    height: 45px;
    background-color: #f3f6f6;
  }

  .plus::before {
    background-color: #7e8c9e;
  }
  .minus::before {
    background-color: #e28b20;
  }

  .cell:nth-child(2n-1) {
    background-color: #f3f6f6;
  }
  .cellTitle {
    display: block;
  }

  .deleteWord {
    border-radius: 205px;
    border: solid 1px #ff6c00;
    background-color: transparent;
    color: #ff6c00;
    width: 200px;
    height: 30px;
    font-family: "HelveticaNeueCyr", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
  }

  .deleteWord:active,
  .deleteWord:hover {
    background-color: #ff6c00;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .tableTransactionItem {
    height: 60px;
    display: flex;
    flex-direction: row;

    margin-bottom: 0;
    box-shadow: none;
  }

  .cell {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .cellDate {
    width: 85px;
  }

  .cellType {
    width: 65px;
  }

  .cellCategory {
    width: 125px;
  }

  .cellComment {
    width: 165px;
  }

  .cellSum {
    width: 105px;
  }

  .cellBalance {
    width: 110px;
  }
  .tableTransactionItem:nth-child(2n) {
    background: transparent;
  }

  .tableTransactionItem:nth-child(2n-1) {
    background-color: #f3f6f6;
  }

  .delete {
    cursor: pointer;
    width: 50px;
    padding-right: 20px;
  }

  .deleteIconSmall {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(./img/del.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .deleteWord {
    display: none;
  }
}

@media (min-width: 1280px) {
  .cell {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }

  .cellDate {
    width: 117px;
  }

  .cellType {
    width: 95px;
  }

  .cellCategory {
    width: 134px;
  }

  .cellComment {
    width: 184px;
  }

  .cellSum {
    width: 144px;
  }

  .cellBalance {
    width: 131px;
  }

  .cellDataFieldComment {
    width: 120px;
  }

  .editCom::before {
    left: -120px;
    width: 13px;
    height: 13px;
  }

  .editSum::before {
    left: -80px;
    width: 13px;
    height: 13px;
  }
}
