@font-face {
  font-family: "BauhausC";
  src: url("../../fonts/bauhouse/BauhausC_Medium_Bold.ttf") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("woff2");
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  box-shadow: 2px 3px 3px rgba(1, 1, 0, 0.12);
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 45px;

}

.wrapper_logo {
  display: flex;
  align-items: center;

}

.img_logo {
  width: 24px;
  height: 24px;
  background: url("./icons/logo.svg") no-repeat;
  margin-right: 14px;
}

.title {
  color: #282828;
  font-family: "BauhausC";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;

}

.wrapper_nav {
  display: flex;
  justify-content: space-between;
  min-width: 137px;
}

.user_name {
  color: #6b7d83;
  font-family: "HelveticaNeueCyr";
  font-size: 15px;
  font-weight: 400;
  padding-right: 19px;
  margin-right: 20px;
}

.wrapper_log_out {
  display: flex;
  cursor: pointer;
  position: relative;
}

.wrapper_log_out::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: -20px;
  background: #6b7d83;
}

.icon_log_out {
  width: 16px;
  height: 16px;
  background: url("./icons/logout.svg") no-repeat;
  margin-right: 7px;
}

.text_log_out {
  color: #6b7d83;
  font-family: "HelveticaNeueCyr";
  font-size: 15px;
  font-weight: 400;
}


@media screen and (max-width: 415px) {

  .header {
    height: 40px;
    background-color: #284060;
    padding: 0 10px;
    margin: 0;
  }

  .img_logo {
    margin-right: 8px;
  }

  .title {
    color: #758397;
    font-size: 18px;
  }

  .user_name {
    border: none;
    padding: 0;
  }

  .icon_log_out {
    margin: 0;
  }

  .wrapper_nav {
    min-width: 63px;
  }
}