@font-face {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 500;
  src: url(../TableTransactionItem/fonts/HelveticaNeueCyr-Medium.eot)
      format("eot"),
    url(../TableTransactionItem/fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"),
    url(../TableTransactionItem/fonts/HelveticaNeueCyr-Medium.woff)
      format("woff");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  src: url(../TableTransactionItem/fonts/HelveticaNeueCyr-Bold.eot)
      format("eot"),
    url(../TableTransactionItem/fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"),
    url(../TableTransactionItem/fonts/HelveticaNeueCyr-Bold.woff) format("woff");
}

.list {
  list-style: none;
}

.listTitle {
  display: flex;
  flex-direction: row;
  background: white;
}

.listTitle p {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 11px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #282828;
}

@media screen and (max-width: 767px) {
  .listTitle {
    display: none;
  }

  .wrapper {
    width: 306px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px;
    margin: 0 auto 200px;
  }

  .listTitle {
    height: 73px;
  }

  .date {
    width: 85px;
  }

  .type {
    width: 65px;
  }

  .category {
    width: 175px;
  }

  .comment {
    width: 165px;
  }

  .sum {
    width: 105px;
  }

  .balance {
    width: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 855px;
    padding: 0;
  }

  .list {
    padding: 0;
  }

  .listTitle p {
    padding-left: 40px;
    font-weight: 700;
  }

  .date {
    width: 117px;
  }

  .type {
    width: 95px;
  }

  .category {
    width: 184px;
  }

  .comment {
    width: 184px;
  }

  .sum {
    width: 144px;
  }

  .balance {
    width: 131px;
  }
}
