.google_box {
  margin: auto;
  /* background-image: url("../../icons/social_icon/google.svg"); */
  width: 42px;
  height: 42px;
  margin-right: 25px;
  border: none;
  outline: none;
}

.google_box:hover {
  transform: scale(1.2);
  cursor: pointer;
}
