.password_strength_meter {
  text-align: left;
  width: 100%;
  margin-bottom: 13px;
}

.password_strength_meter_progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
}

.password_strength_meter_progress::-webkit-progress-bar {
  background-color: #fee6d5;
  border-radius: 5px;
}

.password_strength_meter_label {
  font-size: 14px;
}

.password_strength_meter_progress::-webkit-progress-value {
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-box-shadow: 3px 4px 7px 0px rgba(223, 233, 223, 1);
  -moz-box-shadow: 3px 4px 7px 0px rgba(223, 233, 223, 1);
  box-shadow: 3px 4px 7px 0px rgba(223, 233, 223, 1);
}

.strength_Weak::-webkit-progress-value {
  background-color: #f25f5c;
}
.strength_Fair::-webkit-progress-value {
  background-color: #ffe066;
}
.strength_Good::-webkit-progress-value {
  background-color: #247ba0;
}
.strength_Strong::-webkit-progress-value {
  background-color: #70c1b3;
}
